html,body{
    margin: 0;
    padding: 0;
    background-color: white;
}
.ie-bar{
    background-color: #123291;
}
.ie-bar-1{
    background-color: #2353E1;
}
.ie-background{
    background-color: #EDECE2;
}
.hoverie:hover{
    background-color: #1760E8;
    color: white;
}
.button-bar:hover{
    filter: brightness(150%);
}
.border-bottom{
    border-bottom: 0.1px solid rgb(199, 194, 194);
}
.border-left{
    border-left: 0.1px solid rgb(199, 194, 194);
}
.box{
    border: 1px solid transparent;
}
.box:hover{
    border: 1px solid rgb(199, 194, 194);
    border-radius: 2px;
    transition: 0.4s;
}
.mt-1{
    margin-top: 0.25rem;
}
.ml-1{
    margin-left: 0.25rem;
}
.ml-2{
    margin-left: 0.5rem;
}
.ml-3{
    margin-left: 0.75rem;
}
.ml-12{
    margin-left: 3rem;
}
.mb-2{
    margin-bottom: 0.5rem;
}
.bottom-0{
    bottom: 0;
}
.h-1{
    height: 0.25rem;
}
.h-2{
    height: 0.5rem;
}
.h-3{
    height: 0.75rem;
}
.h-4{
    height: 1rem;
}
.h-5{
    height: 1.25rem;
}
.h-6{
    height: 1.5rem;
}
.h-7{
    height: 1.75rem;
}
.h-8{
    height: 2rem;
}.h10{
    height: 2.5rem;
}
.w-full{
    width: 100%;
}
.items-center{
    align-items: center;
}
.absolute{
    position: absolute;
}
.flex{
    display: flex;
}
.w-4{
    width: 1rem;
}
.w-5{
    width: 1.25rem;
}
.w-28{
    width: 7rem;
}
.text-white{
    color: white;
}
.text-sm{
    font-size: 0.875rem;
    line-height: 1.25rem;
}
.pr-1{
    padding-right: 0.25rem;
}
.py-1{
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}
.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.w-25{
    width: 25%;
}
.stick{
    width: 0.1px; 
    background-color: rgb(199, 194, 194);
}
.bg-white{
    background-color: white;
}
.c-bg{
    background-color: #bdbbad;
    transition: 0.2s;
}
.animatee{
    transform: translateX(0.1rem) translateY(0.1rem);
}